@section NavigationTitle{
    Marque
}

@section filedeNavigation{
    <li><a href="#">Marques</a></li>
    <li class="active">liste des marques</li>
}
@section headerStyle{
    @Styles.Render("~/Content/css__")
}

<div class="row">

</div>
<div class="row">
    <p>
        <a class="btn btn-primary" href="@Url.RouteUrl("_addMarque")">Ajouter</a>
    </p>
    <div id="marqueGrid"></div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/js_")
    <script type="text/javascript">
        $(document).ready(function () {
            var source = {
                datatype: "json",
                datafields: [
                    { name: "Libelle", type: 'string' },
                    { name: "Id", type:'int'}
                ],
                id:'Id',
                url: "@Url.RouteUrl("_getMarques")"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            var cellrender = function (row, column, value, rowData) {
                var update, del;
                update = '<a href="@Url.RouteUrl("_updateMarque", new { id = "id" })" title="editer une marque"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;';
                del = '<a href="#" title="supprimer une marque" class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>';
                var ch = update +" | " + del;
                return ch.replace(/id/gi, value);
            };
            var getLocalization = function () {
                var localizationobj = {};
                localizationobj.pagerGoToPageString = "Page :";
                localizationobj.pagershowrowsstring = "Ligne:";
                localizationobj.pagerrangestring = " sur ";
                localizationobj.pagerNextButtonString = "Suivant";
                localizationobj.loadtext = "Chargement...";
                localizationobj.filterSearchString = "Recherche:";
                localizationobj.pagerPreviousButtonString = "Precedent";
                return localizationobj;
            };
            //init jqxtable
            $("#marqueGrid").jqxDataTable({
                width: '100%',
                theme: 'darkblue',
                source: dataAdapter,
                pageable: true,
                filterable: true,
                //filterMode: 'simple',
                altRows: true,
                pageSize: 20,
                pagerMode: 'advanced',
                sortable: true,
                pageSizeOptions: ['5', '10', '20', '25', '30', '35', '40'],
                columnsResize: true,
                localization: getLocalization(),
                columns: [
                    { text: "Libelle", datafield: "Libelle"/*, width:"10%"*/ },
                    { text: "", datafield: "Id", width: "15%", cellsAlign: 'center', sortable :false,cellsRenderer: cellrender, filterable :false }
                ]
            });
            $("#Parametre").addClass("active");
            $("#marque").addClass("active");
        });
    </script>
}

